@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

* {
    box-sizing: border-box;
    font-family: 'Open Sauce Sans', sans-serif;
}

:root {
    --abitwhite: #f5f5f5;
    --abitblack: #303841;
    --abitorange: #ff5722;
    --abitblue: #76abae;
    --abitgray: #eaeaea;
}

body {
    background-color: var(--abitwhite);
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page-one {
    background-color: var(--abitwhite);
}

.page-two {
    background-color: var(--abitblue);
}

.app-header {
    font-family: 'Open Sauce Sans', sans-serif;
}

.app-header h3 {
    color: var(--abitblack);
    font-size: 20px;
    margin-left: 6vh; 
    margin-top: 6vh;
}

.app-header p {
    color: var(--abitorange);
    font-size: 12px;
    margin-left: 6vh;
    margin-top: -2.5vh;
}

.dashboard {
    font-family: 'Open Sauce Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard hr {
    width: 50vw;
    height: 2.5px;
    border: none;
    background: var(--abitblack);
    margin-top: 4vh;
}

.dashboard h2 {
    font-weight: 400;
    color: var(--abitblack);
    font-size: 50px;
}

#pickedsubject {
    color: var(--abitorange);
    font-size: 55px;
    margin-top: 2vh;
}

#timer {
    color: var(--abitorange);
    font-weight: 400;
    font-size: 130px;
    margin-top: -4vh;
    margin-bottom: -3vh;
}

.btn {
    background-color: var(--abitblue);
    color: var(--abitwhite);
    border: none;
    border-radius: 5px;
    font-size: 40px;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3vh;
}

.active-control {
    display: flex;
    flex-direction: row;
    gap: 130px;
    justify-content: center;
}

.control .btn {
    display: none;
    min-width: 170px;
}

.control.state-idle #start-btn {
    display: inline-block;
}

.control.state-running #pause-btn, 
.control.state-running #stop-btn {
    display: inline-block;
}

.control.state-paused #resume-btn,
.control.state-paused #stop-btn {
    display: inline-block;
}

#break-timer {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--abitblack);
}

/* Page 2 */
.p2t {
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--abitwhite);
    margin-top: 14vh;
    display: inline-block;
}

.p2t.one {
    margin-left: 21vw;
}

.p2t.two {
    margin-left: 37vw;
}

.subjectnstat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20vw;
    margin-top: -2vh;
}

.daily-stats {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--abitwhite);
    min-width: 30vw;
    min-height: 65vh;
    border-radius: 15px;
}

.subjectspick {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--abitwhite);
    min-width: 30vw;
    min-height: 65vh;
    border-radius: 15px;
}

#totalhour-day {
    margin-top: 1.7vh;
    color: var(--abitblack);
    font-weight: 400;
    font-size: 2.5rem;
}

#daily-counted {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--abitgray);
    min-width: 27vw;
    min-height: 52vh;
    margin-top: -3vh;
    border-radius: 10px;
}

#daily-subjects {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--abitgray);
    min-width: 27vw;
    min-height: 59vh;
    border-radius: 10px;
    margin-top: 3vh;
}

/* Page 3 */
.page-three {
    position: relative;
    background-color: var(--abitwhite);
}

.p3t {
    margin-top: 15vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6rem;
    font-weight: 380;
}

.statweeklies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weekly-stats {
    display: inline-block;
}

.weekly-subjects {
    display: inline-block;
}