@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

:root {
    --abitwhite: #f5f5f5;
    --abitblack: #303841;
    --abitorange: #ff5722;
    --abitblue: #76abae;
}

body {
    background-color: var(--abitwhite);
}

.app-header {
    font-family: 'Open Sauce Sans', sans-serif;
}

.app-header h3 {
    color: var(--abitblack);
    font-size: 20px;
    margin-left: 3vw; 
    margin-top: 3vw;
}

.app-header p {
    color: var(--abitorange);
    font-size: 12px;
    margin-left: 3vw;
    margin-top: -1.5vw;
}

.dashboard {
    font-family: 'Open Sauce Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard hr {
    width: 100%;
    height: 2.5px;
    border: none;
    background: var(--abitblack);
}

.dashboard h2 {
    font-weight: 400;
    color: var(--abitblack);
    font-size: 50px;
}

#pickedsubject {
    color: var(--abitorange);
    font-size: 55px;
}

#timer {
    color: var(--abitorange);
    font-weight: 400;
    font-size: 130px;
    margin-top: -1vw;
    margin-bottom: -3vw;
}