<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!--Page1-->
        <section class="page-one">
            <header class="app-header">
                <h3>StudyTrackerbyAr</h3>
                <p>Tracked sessions, tracked future</p>
            </header>
            <main class="dashboard">
                <h2>Today's Study</h2>
                <h1 id="timer">00 : 00 : 00</h1>
                <h2 id="pickedsubject">Not Selected</h2>

                <div class="control state-idle">
                    <button id="start-btn", class="btn">Start</button>
                    <div class="active-control">
                        <button id="pause-btn", class="btn">Pause</button>
                        <button id="resume-btn", class="btn">Resume</button>
                        <button id="stop-btn", class="btn">Stop</button>
                    </div>
                </div>
                <hr>
                <h4 id="break-timer">Next break in: 0 minutes</h4>
            </main>
        </section>
        
        <!--Page2-->
        <section class="page-two">
            <div class="pagetwotitles">
                <h2 class="p2t one">Today</h2>
                <h2 class="p2t two">Pick a subject</h2>
            </div>
            <div class="subjectnstat">
                <div class="daily-stats">
                    <h2 id="totalhour-day">0m</h2>
                    <div id="daily-counted"> <!-- ADD IN DAILY HISTORY -->

                    </div>
                </div>
                <div class="subjectspick">
                    <div id="daily-subjects"> <!-- ADD IN DAILY SUBJECTS -->
                        <label class="radio-label">
                            <input type="radio" class="radio-input" name="subj-opt" value="Math">
                            Mathematics
                        </label>
                        <label class="radio-label">
                            <input type="radio" class="radio-input" name="subj-opt" value="Lang">
                            Language
                        </label>
                        <label class="radio-label">
                            <input type="radio" class="radio-input" name="subj-opt" value="Inf">
                            Informatik
                        </label>
                        <label class="radio-label">
                            <input type="radio" class="radio-input" name="subj-opt" value="Natscie">
                            Nat. Sciences
                        </label>
                        <label class="radio-label">
                            <input type="radio" class="radio-input" name="subj-opt" value="Sostud">
                            Sos. Studies
                        </label>
                    </div>
                    <button class="btn" id="sendsubjbtn" type="button">Pick</button>
                </div>
            </div>
        </section>
        

        <!--Page3-->
        <section class="page-three">
            <h2 class="p3t">Weekly Progress</h2>
            <div class="statweeklies">
                <div class="weekly-stats">

                </div>
                <div class="weekly-subjects">
        
                </div>
            </div>
        </section>


        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>