<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!--Page1-->
        <section class="page-one">
            <header class="app-header">
                <h3>StudyTrackerbyAr</h3>
                <p>Tracked sessions, tracked future</p>
            </header>
            <main class="dashboard">
                <h2>Today's Study</h2>
                <h1 id="timer">00 : 00 : 00</h1>
                <h2 id="pickedsubject">Not Selected</h2>

                <div class="control state-idle">
                    <button id="start-btn", class="btn">Start</button>
                    <div class="active-control">
                        <button id="pause-btn", class="btn">Pause</button>
                        <button id="resume-btn", class="btn">Resume</button>
                        <button id="stop-btn", class="btn">Stop</button>
                    </div>
                </div>
                <hr>
                <h4 id="break-timer">Next break in: 0 minutes</h4>
            </main>
        </section>
        
        <!--Page2-->
        <section class="page-two">
            <div class="subjectnstatpage">
                <div class="daily-stats">

                </div>
                <div class="subjectspick">

                </div>
            </div>
        </section>
        

        <!--Page3-->
        <section class="page-three">
            <div class="statpage">
                <div class="weekly-stats">

                </div>
                <div class="weekly-subjects">
        
                </div>
            </div>
        </section>


        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>