<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header class="app-header">
            <h3>StudyTrackerbyAr</h3>
            <p>Tracked sessions, tracked future</p>
        </header>
        <main class="dashboard">
            <h2>Today's Study</h2>
            <h1>00 : 00 : 00</h1>
            <h2>Subject</h2>

            <div class="control">
                <button id="start-btn">Start Session</button>
                <div class="active-control">
                    <button id="pause-btn">Pause</button>
                    <button id="stop=btn">Stop</button>
                </div>
            </div>
            <hr>
            <h4 id="break-timer">Next break in: 0 minutes</h4>
        </main>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>